{% extends "base.html" %}
{% block content %}
<h1>Lisää askare</h1>

<form method="post" action="{{base_path}}/askare">
    <div class="form-group">
        <label>Nimi</label>
        <input name="nimi" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Tärkeys</label>
        <input name="tarkeys" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Luokka</label>
        <input name="luokka" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Käyttäjä_id</label>
        <input name="kayttaja_id" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Paikka_id</label>
        <textarea name="paikka_id" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}