{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Osoite</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>{{paikka.nimi}}</td>
            <td>{{paikka.osoite}}</td>
        </tr>


    </tbody>
</table>

<!--    {{forms.edit_button("#{base_path}/askare/#{askare.id}/edit")}}
    {{forms.destroy_button("#{base_path}/askare/#{askare.id}/destroy")}}
-->

{% endblock %}